<!doctype html>

<title>
      Streamster - Jello Fight
</title>

<head>
   <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="../static/bootstrap/css/custom.css">

   <!-- player skin -->
   <link rel="stylesheet" href="../static/bootstrap/css/fp/functional.css">

   <!-- site specific styling -->
   <style>
   body { font: 12px "Myriad Pro", "Lucida Grande", sans-serif; text-align: center; padding-top: 5%; }
   .flowplayer { width: 80%; margin-top: 13vh;}
   </style>

   <!-- for video tag based installs flowplayer depends on jQuery 1.7.2+ -->
   <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

   <!-- include flowplayer -->
   <script src="../static/js/flowplayer.min.js"></script>
   <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
   <script src="../static/js/flowtimer.js"></script>
   


</head>

<body>
   <!-- navbar -->
   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="home_button" href="./home">
               HOME
            </a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="./browse.html">BROWSE</a></li>
               <li><a href="./about.html">ABOUT</a></li>
            </ul>
         </div>
      </div>
   </nav>
   <!-- End of navbar -->

  <!--  <script>
      var dbRef = new Firebase('https://streamster.firebaseio.com/');
      dbRef.push({type: "video", name:"Jelly Fight", views:1});
   </script> -->
   <!-- the player -->

   <div class="flowplayer" data-analytics="UA-73749016-1" title="Jelly Fight" data-swf="../static/js/flowplayer.swf" data-ratio="0.4167">
      <video>
         <source type="video/mp4" src="http://streamster.huyenchip.com/videos/jellofight.mp4">
      </video>
   </div>

   <!-- <p>To watch this video in full, you would need: </p> -->
   <div id="time-spent"></div>
   <div id="current-time-spent"></div>
   <div id="info"></div>
   <!-- <p>bitcoin</p> -->

</body>